src/node-red/data/flows.json
[{"id":"dc972b46.e75008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f8d12e95.e7674","type":"tab","label":"Recovered Nodes","disabled":false,"info":"The nodes on this flow were missing a valid flow id when they were imported. They have been added to this flow so you can either restore or delete them."},{"id":"711b27ad.e76c58","type":"tab","label":"Recovered Nodes","disabled":false,"info":"The nodes on this flow were missing a valid flow id when they were imported. They have been added to this flow so you can either restore or delete them."},{"id":"6aac2910.53eaa","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9bf4de84.61c3c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7a6e2677.1b1d58","type":"mqtt-broker","z":"","name":"mqtt-broker","broker":"mqtt-broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b1f49311.db6aa","type":"influxdb","z":"f8d12e95.e7674","hostname":"influxdb","port":"8086","protocol":"http","database":"wise_cube","name":"","usetls":false,"tls":""},{"id":"f2ccc9f3.c95d48","type":"influxdb","z":"711b27ad.e76c58","hostname":"influxdb","port":"8086","protocol":"http","database":"wise_cube","name":"","usetls":false,"tls":""},{"id":"945c5d26.357f3","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"wise_cube","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"12a9042d.dc457c","type":"postgresDB","z":"","name":"undefined@db:5432/wise-cube","host":"db","port":"5432","database":"wise-cube","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"9339517c.2932e8","type":"mqtt in","z":"dc972b46.e75008","name":"","topic":"/from_cube/+","qos":"1","datatype":"auto","broker":"7a6e2677.1b1d58","x":70,"y":320,"wires":[["428d0ef2.3aebd8"]]},{"id":"e9849f8a.7331e","type":"debug","z":"dc972b46.e75008","name":"Debug Message ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":580,"wires":[]},{"id":"e79c8460.712758","type":"function","z":"dc972b46.e75008","name":"Add .cube_id to msg","func":"\n\n\nt = msg.topic\nmsg.cube_id = parseInt(t.substring(t.length - 1, t.length))\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["c7a5681b.8ebb6"]]},{"id":"428d0ef2.3aebd8","type":"json","z":"dc972b46.e75008","name":"Parse Json","property":"payload","action":"","pretty":false,"x":90,"y":500,"wires":[["e79c8460.712758","5841ab53.eaf29c"]]},{"id":"555d8364.74f20c","type":"function","z":"dc972b46.e75008","name":"Add .measurement for influxdb","func":"msg.measurement= \"cube_\" + msg.cube_id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":400,"wires":[["e0af2498.4b8b9"]]},{"id":"e0af2498.4b8b9","type":"influxdb out","z":"dc972b46.e75008","influxdb":"945c5d26.357f3","name":"","measurement":"","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1190,"y":340,"wires":[]},{"id":"c7a5681b.8ebb6","type":"postgrestor","z":"dc972b46.e75008","name":"Query group_id from cube_id","query":"SELECT (id) AS group_id FROM groups WHERE groups.cube_id = {{msg.cube_id}} ;","postgresDB":"12a9042d.dc457c","output":true,"outputs":1,"x":400,"y":440,"wires":[["87bd22e9.43d0b"]]},{"id":"8d44bc5e.462cb","type":"function","z":"dc972b46.e75008","name":"Add .group_id to msg","func":"if (msg.payload.row_count == 1){\n    msg.group_id = null;\n} else {\n    msg.group_id = msg.payload.rows[0].group_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":480,"wires":[["6e62fd4d.b956e4"]]},{"id":"5841ab53.eaf29c","type":"join","z":"dc972b46.e75008","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":430,"y":600,"wires":[["1408afbf.a72b1"]]},{"id":"6e62fd4d.b956e4","type":"change","z":"dc972b46.e75008","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":540,"wires":[["5841ab53.eaf29c"]]},{"id":"f18f8d6.6d7d7f","type":"function","z":"dc972b46.e75008","name":"Add .topic","func":"\nn_msg = {};\ngid = msg.group_id;\np = msg.payload\n\nif (gid){\n    n_msg.topic = '/to_group/' + gid;\n    n_msg.payload = p;\n    return n_msg\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":660,"wires":[["4f0a64d1.822794","e9849f8a.7331e"]]},{"id":"4f0a64d1.822794","type":"mqtt out","z":"dc972b46.e75008","name":"Repub msg","topic":"","qos":"1","retain":"","broker":"7a6e2677.1b1d58","x":1270,"y":640,"wires":[]},{"id":"784a062b.db19e8","type":"function","z":"dc972b46.e75008","name":"Add .payload.delay","func":"\nmsg.recv_ts = Date.now();\nmsg.send_ts = Math.floor((msg.payload.ts)/1000);\n\nmsg.payload.delay = msg.recv_ts - msg.send_ts\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":340,"wires":[["555d8364.74f20c"]]},{"id":"2b813e47.b201a2","type":"debug","z":"dc972b46.e75008","name":"Raw_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":540,"wires":[]},{"id":"1408afbf.a72b1","type":"switch","z":"dc972b46.e75008","name":"Switch on .payload.msg_type ","property":"payload.msg_type","propertyType":"msg","rules":[{"t":"eq","v":"state_update","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":580,"wires":[["784a062b.db19e8"],["f18f8d6.6d7d7f"]]},{"id":"87bd22e9.43d0b","type":"switch","z":"dc972b46.e75008","name":"Found","property":"msg.payload.rowCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":480,"wires":[["8d44bc5e.462cb"],["6e62fd4d.b956e4"]]},{"id":"7bbe4c10.45171c","type":"inject","z":"dc972b46.e75008","name":"/to_cube/1 -> FACE_ON","props":[{"p":"cmd","v":"FACE_ON","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0005 0000","payloadType":"str","x":190,"y":980,"wires":[["f07f7cbb.eb12e8"]]},{"id":"f07f7cbb.eb12e8","type":"mqtt out","z":"dc972b46.e75008","name":"","topic":"/to_cube/1","qos":"0","retain":"","broker":"7a6e2677.1b1d58","x":530,"y":980,"wires":[]},{"id":"c186027a.dba2e","type":"inject","z":"dc972b46.e75008","name":"/to_cube/1 -> PAIR_REQ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/to_cube/1","payload":"PAIR_REQ","payloadType":"str","x":190,"y":1100,"wires":[["f07f7cbb.eb12e8"]]},{"id":"c34a4cce.ffeea","type":"inject","z":"dc972b46.e75008","name":"/to_cube/1 -> PAIR_OK","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/to_cube/1","payload":"FACE_ON","payloadType":"str","x":180,"y":1160,"wires":[["f07f7cbb.eb12e8"]]},{"id":"8f0145c9.9e2f5","type":"debug","z":"dc972b46.e75008","name":"/from_cube/1 -> PAIR_ACK","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":760,"wires":[]},{"id":"82f6c1e6.55f3f8","type":"debug","z":"dc972b46.e75008","name":"/from_cube/1 -> PAIR_NACK","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":820,"wires":[]},{"id":"13d59fef.68285","type":"inject","z":"dc972b46.e75008","name":"/to_cube/1 -> FACE_OFF","props":[{"p":"cmd","v":"FACE_OFF","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0006 0000","payloadType":"str","x":190,"y":1040,"wires":[["f07f7cbb.eb12e8"]]},{"id":"bc00bd0c.8e093","type":"inject","z":"dc972b46.e75008","name":"shake_event","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"msg_type\":\"shake_event\"}","payloadType":"json","x":180,"y":1260,"wires":[["f191240f.995338"]]},{"id":"f191240f.995338","type":"mqtt out","z":"dc972b46.e75008","name":"","topic":"/from_cube/1","qos":"0","retain":"","broker":"7a6e2677.1b1d58","x":550,"y":1380,"wires":[]},{"id":"9406d35d.387a5","type":"inject","z":"dc972b46.e75008","name":"long_press_event","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"msg_type\":\"long_press_event\"}","payloadType":"json","x":180,"y":1320,"wires":[["f191240f.995338"]]},{"id":"9ec8be1b.d5293","type":"inject","z":"dc972b46.e75008","name":"short_press_event","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"msg_type\":\"short_press_event\"}","payloadType":"json","x":190,"y":1380,"wires":[["f191240f.995338"]]},{"id":"9974fc18.7247f","type":"inject","z":"dc972b46.e75008","name":"nfc_event","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"msg_type\":\"nfc_event\", \"msg_arg\":0}","payloadType":"json","x":160,"y":1440,"wires":[["f191240f.995338"]]},{"id":"881016f0.756378","type":"inject","z":"dc972b46.e75008","name":"face_event","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"msg_type\":\"face_event\", \"msg_arg\":0}","payloadType":"json","x":160,"y":1500,"wires":[["f191240f.995338"]]}]