src/node-red/data/flows.json
[{"id":"dc972b46.e75008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f8d12e95.e7674","type":"tab","label":"Recovered Nodes","disabled":false,"info":"The nodes on this flow were missing a valid flow id when they were imported. They have been added to this flow so you can either restore or delete them."},{"id":"7a6e2677.1b1d58","type":"mqtt-broker","z":"","name":"mqtt-broker","broker":"mqtt-broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b1f49311.db6aa","type":"influxdb","z":"f8d12e95.e7674","hostname":"influxdb","port":"8086","protocol":"http","database":"wise_cube","name":"","usetls":false,"tls":""},{"id":"f2ccc9f3.c95d48","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"wise_cube","name":"","usetls":false,"tls":""},{"id":"9339517c.2932e8","type":"mqtt in","z":"dc972b46.e75008","name":"","topic":"/from_cube/1","qos":"1","datatype":"auto","broker":"7a6e2677.1b1d58","x":70,"y":320,"wires":[["428d0ef2.3aebd8"]]},{"id":"e9849f8a.7331e","type":"debug","z":"dc972b46.e75008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"dd425fa4.8fa368","type":"inject","z":"dc972b46.e75008","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[[]]},{"id":"e79c8460.712758","type":"function","z":"dc972b46.e75008","name":"","func":"\nmsg.recv_ts = Date.now();\nmsg.send_ts = Math.floor((msg.payload.ts)/1000);\nmsg.payload.delay = msg.recv_ts - msg.send_ts\n\n\nt = msg.topic\nmsg.cube = parseInt(t.substring(t.length - 1, t.length))\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":360,"wires":[["e9849f8a.7331e","555d8364.74f20c"]]},{"id":"428d0ef2.3aebd8","type":"json","z":"dc972b46.e75008","name":"","property":"payload","action":"","pretty":false,"x":240,"y":420,"wires":[["e79c8460.712758"]]},{"id":"555d8364.74f20c","type":"function","z":"dc972b46.e75008","name":"","func":"msg.measurement= \"cube_\" + msg.cube\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":400,"wires":[["e0af2498.4b8b9"]]},{"id":"e0af2498.4b8b9","type":"influxdb out","z":"dc972b46.e75008","influxdb":"f2ccc9f3.c95d48","name":"","measurement":"","precision":"","retentionPolicy":"","x":870,"y":540,"wires":[]}]